controller:
  serviceAccount:
    create: false
    name: ebs-csi-controller-sa
storageClasses:
  - name: gp3-encrypted
    annotations:
      storageclass.kubernetes.io/is-default-class: "true"
    allowVolumeExpansion: true
    reclaimPolicy: Delete
    volumeBindingMode: WaitForFirstConsumer
    parameters:
      type: gp3
      encrypted: "true"
      fsType: ext4
