prometheus:
  prometheusSpec:
    retention: 15d
    storageSpec:
      volumeClaimTemplate:
        spec:
          storageClassName: pd-balanced-encrypted
          accessModes: ["ReadWriteOnce"]
          resources:
            requests:
              storage: 100Gi
alertmanager:
  alertmanagerSpec:
    storage:
      volumeClaimTemplate:
        spec:
          storageClassName: pd-balanced-encrypted
          accessModes: ["ReadWriteOnce"]
          resources:
            requests:
              storage: 20Gi
